{% extends "core/base.html" %}

{% block content %}

<div class="profile-edit">
    {% include 'shared/sidebar/index.html' %}
    <form action="" method="post" enctype="multipart/form-data">
        <h1>Обновление профиля</h1>
        <input type="text" name="first-name" id="first-name" placeholder="Ваше имя" value="{{ profile.first_name }}">
        <input type="text" name="surname" id="surname" placeholder="Вашa фамилия" value="{{ profile.surname }}">
        <input type="date" name="age" id="age" value="{{ profile.age }}">
        <input type="file" name="avatar" id="avatar">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="submit" value="Редактировать">
    </form>
</div>

{% endblock %}