{% extends "core/base.html" %}
{% import 'elements/post/index.html' as post_macro %}

{% block content %}
<section class="profile">
    {% include 'shared/sidebar/index.html' %}
    <article>
        <header>
            <div class="profile__total_info">
                <img src="{{ url_for('static', filename='uploads/us_avatars/user_default.jpg') }}" alt="{{ img }}" srcset="">
                <div class="profile__total_info--col">
                    <h1>{{ profile.first_name }} {{ profile.surname }}</h1>
                    <p>День рождения: {{ profile.age.strftime('%d %b %Y') }}</p>
                </div>
            </div>
            {% if profile.user_id == user_id %}
                <div class="profile__set-btn">
                    <a href="{{ url_for('index') }}">Редактировать профиль</a>
                </div>
            {% else %}
                <form action="{{ url_for('profile.substract', login=login) }}" method="post" class="profile__substract">
                    <button>Подписаться на автора</a>
                </form>
            {% endif %}
        </header>
        <section class="feed user-feed">
            {% for post in posts %}
                {{ post_macro.post(
                    post.id,
                    post.title,
                    post.body,
                    post.created,
                    post.username,
                    post.author_id,
                    user_id
                ) }}
            {% endfor %}
        </section>
    </article>
</section>
{% endblock %}