.profile {
    max-width: var(--container-size);
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 10px;
    article {
        margin: 0;
        width: 100%;
        max-width: 100%;
        header {
            padding: 20px;
            border-radius: 12px;
            background: var(--color-main-dark);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            @media screen and (max-width: 370px) {
                flex-direction: column;
            }
        }
    }
    &__total_info {
        display: flex;
        img {
            margin-right: 15px;
            @media screen and (max-width: 500px) {
                width: 50px;
                height: 50px;
                border: 2px solid var(--color-grey);
                border-radius: 50%;
            }
        }
        h1, p {
            color: var(--color-text-light);
        }
    }
    &__set-btn {
        display: flex;
        
        a {
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            background: var(--color-grey);
            color: var(--color-text-light);
            padding: 5px 16px;
            border-radius: 8px;
            transition: opacity .15s ease;
            &:hover {
                opacity: .88;
            }
        }
        @media screen and (max-width: 370px) {
            width: 100%;
            justify-content: center;
        }
    }
    &__substract {
        background: none;
        padding: 0;
        button {
            border: none;
            cursor: pointer;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            background: var(--color-grey);
            color: var(--color-text-light);
            padding: 5px 16px;
            border-radius: 8px;
            transition: opacity .15s ease;
            &:hover {
                opacity: .88;
            }
        }
    }
}
.user-feed {
    margin-top: 10px;
}

.profile-edit {
    padding-top: 50px;
    form {
        width: 320px;
        padding: 32px 24px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: var(--color-light);
        border-radius: 12px;

        h1 {
            text-align: center;
            margin-bottom: 15px;
            color: var(--color-text-light);
        }
        label, p {
            color: var(--color-text-second);
        }
        a {
            padding: 10px 20px;
            text-decoration: none;
            background: var(--color-green);
            border-radius: 8px;
            color: #fff;
            &:hover,
            &:focus {
                opacity: .88;
                text-decoration: none;
            }
        }
        input {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid var(--color-dark);
            border-radius: 8px;
            &:focus {
                border: 1px solid var(--color-main);
            }
        }
        input[type=submit] {
            cursor: pointer;
            background: #fff;
            border: none;
            color: var(--color-main-dark);
            transition: background .3s ease-in-out;
            &:hover, 
            &:focus {
                opacity: .88;
            }
        }
        hr {
            margin-bottom: 10px;
            background: var(--color-grey);
        }
    }
}