{% extends 'core/base.html' %}
{% set title = "Регистрация" %}

{% block content %}


<form method="post">
    <h1>{{ title }}</h1>
    <label for="username">Username</label>
    <input name="username" id="username" placeholder="Введите логин" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Введите пароль" required>
    <input type="submit" value="Register">
    <p>Уже есть пароль - <a href="{{ url_for('auth.login') }}">Авторизация</a></p>
</form>

{% endblock %}