{% extends "core/base.html" %}
{% set title = 'Время творить' %}

{% block content %}
    <section class="create-post">
        <h1>{{ title }}</h1>
        <form action="" method="post">
            <input name="title" id="title" value="{{ request.form['title'] }}" placeholder="Заголовок" required>
            <textarea name="body" id="body" placeholder="Текст поста">{{ request.form['body'] }}</textarea>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color: red;">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}  
            <input type="submit" value="Save">
        </form>
    </section>
{% endblock %}