{% extends "core/base.html" %}
{% import 'elements/post/index.html' as post_macro %}

{% block content %}
    <main>
        {% include 'shared/sidebar/index.html' %}
        
        <section class="feed">
            {% for post in posts %}
                {{ post_macro.post(
                    post.id,
                    post.title,
                    post.body,
                    post.created,
                    post.username,
                    post.author_id,
                    user_id
                ) }}
            {% endfor %}
        </section>
    </main>
{% endblock %}