main {
    max-width: var(--container-size);
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    nav {
        width: 160px;
    }
    h1 {
        text-align: center;
        margin-bottom: 1rem;
        color: var(--color-text-light);
    }
}
section {
    &.create-post {
        max-width: var(--container-size);
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        padding: 20px;
        background: var(--color-main-dark);
        h1 {
            text-align: center;
            color: var(--color-text-light);
        }
        form {
            border: none;
            max-width: none;
            padding: 0;
            background: none;
        }
        form {
            width: 100%;
            input,
            textarea {
                background: var(--color-text-second);
                color: var(--color-dark);
                &::placeholder {
                    color: var(--color-dark);
                }
            }
            input {
                &[type=submit] {
                    &:hover {
                        background: var(--color-w);
                    }
                }
            }
            textarea {
                width: 100%;
                height: 200px;
                padding: 10px;
                margin-bottom: 10px;
                border: 1px solid var(--color-dark);
            }
        }
    }
}