main {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: var(--color-light);
  border: 10px solid var(--color-main-dark);
}
main h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-dark);
}