:root {
  --color-w: #fff;
  --color-text-light: #e1e3e6;
  --color-text-second: #828282;
  --color-light: rgba(255, 255, 255, 0.12);
  --color-light-second: #71aaeb;
  --color-main: #939393;
  --color-grey: #424242;
  --color-main-dark: #222222;
  --color-dark: #141414;
  --color-green: #4bb34b;
  --font-main: "Times New Roman", Times, serif;
  --font-headers: Arial, Helvetica, sans-serif;
  --container-size: 1100px;
  --padding-default: 10px;
  --media-mobile-size: 600px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-family: var(--font-main);
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark) var(--color-light-second);
}

body {
  background: var(--color-dark);
}

*::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}
*::-webkit-scrollbar-track {
  background-color: var(--color-light-second);
}
*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--color-dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-main-dark);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-track {
  background-color: var(--color-light-second);
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--color-dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-main-dark);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
*::-webkit-scrollbar {
  width: 5px;
}

h1, h2, h3 {
  font-family: var(--font-headers);
}

p, span {
  font-family: var(--font-main);
}