{% extends "core/base.html" %}
{% set title = 'Время творить' %}

{% block content %}
{% include 'shared/sidebar/index.html' %}
    <section class="create-post">
        <h1>{{ title }}</h1>
        <form action="" method="post">
            <input name="title" id="title" value="{{ request.form['title'] or post['title'] }}" placeholder="Заголовок" required>
            <textarea name="body" id="body" placeholder="Текст поста">{{ request.form['body'] or post['body'] }}</textarea>
            <input type="submit" value="Save">
        </form>
    </section>
{% endblock %}