.feed {
  margin: 0;
  width: 100%;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feed article {
  width: 100%;
  padding: 15px 20px;
  border: 1px double var(--color-dark);
  background: var(--color-main-dark);
  border-radius: 12px;
  -webkit-box-shadow: 0 0 0 0.5px #484848;
          box-shadow: 0 0 0 0.5px #484848;
  margin-bottom: 12px;
}
.feed article header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--color-light);
}
.feed article header h2 {
  color: var(--color-text-light);
}
.feed article header .about {
  color: var(--color-text-second);
}
.feed article p.body {
  padding: 10px 0;
  color: var(--color-text-light);
}
.feed article .edit-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid var(--color-light);
}
.feed article .edit-post a.update {
  text-decoration: none;
  color: var(--color-w);
}
.feed article .edit-post a.update,
.feed article .edit-post form {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.feed article .edit-post a.update:hover,
.feed article .edit-post form:hover {
  background: var(--color-light);
}
.feed article .edit-post form {
  padding: 0;
  border: none;
  margin: 0;
  background: none;
}
.feed article .edit-post form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  border: none;
  color: var(--color-w);
  font-size: 16px;
  font-family: var(--font-main);
}
.feed article .view-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid var(--color-light);
}
.feed article .view-btn a {
  margin-top: 5px;
  text-decoration: none;
  padding: 5px 16px;
  border-radius: 8px;
  background: var(--color-grey);
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
  color: var(--color-text-light);
}
.feed article .view-btn a:hover {
  text-decoration: none;
  opacity: 0.88;
}