.feed {
    margin: 0;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    article {
        width: 100%;
        padding: 15px 20px;
        border: 1px double var(--color-dark);
        background: var(--color-main-dark);
        border-radius: 12px;
        box-shadow: 0 0 0 0.5px #484848;
        margin-bottom: 12px;
        header {
            justify-content: space-between;
            border-bottom: 1px solid var(--color-light);
            h2 {
                color: var(--color-text-light);
            }
            .about {
                color: var(--color-text-second);
            }
        }
        p.body {
            padding: 10px 0;
            color: var(--color-text-light);
        }
        .edit-post {
            display: flex;
            align-items: center;
            border-top: 1px solid var(--color-light);
            a.update {
                text-decoration: none;
                color: var(--color-w);
                
            }
            a.update,
            form {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background .2s ease;
                border-radius: 0;
                &:hover {
                    background: var(--color-light);
                }
            }
            form {
                padding: 0;
                
                border: none;
                margin: 0;
                background: none;
                button {
                    display: flex;
                    background: none;
                    border: none;
                    color: var(--color-w);
                    font-size: 16px;
                    font-family: var(--font-main);
                }
            }
        }
        .view-btn {
            display: flex;
            align-items: center;
            border-top: 1px solid var(--color-light);
            a {
                margin-top: 5px;
                text-decoration: none;
                padding: 5px 16px;
                border-radius: 8px;
                background: var(--color-grey);
                transition: opacity .15s ease;
                color: var(--color-text-light);
                &:hover {
                    text-decoration: none;
                    opacity: .88;
                }
            }
        }
    }
}