<header>
    <nav>
        <div id="m-nav-btn">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <a class="logo" href="{{ url_for('index') }}">Мыслепомойка</a>
        <div class="user-nav">
            {% if session['login'] %}
                <a class="action" href="{{ url_for('blog.create') }}">Извергнуть мысль</a>
                <a href="{{ url_for('auth.logout') }}">Покинуть</a>
            {% else %}
                <a href="{{ url_for('login') }}">Войти</a>
                <a href="{{ url_for('auth.register') }}">Стать частью</a>
            {% endif %}
        </div>
    </nav>
</header>