header {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--color-main-dark);
    border-bottom: 1px solid #292929;
    nav {
        width: 100%;
        max-width: var(--container-size);
        display: flex;
        justify-content: space-between;
        align-items: center;
        #m-nav-btn {
            display: none;
            margin: 0 15px;
            font-size: 20px;
            color: var(--color-text-light);
            @media screen and (max-width: 600px) {
                display: block;
            }
        }
        a.logo {
            font-size: 24px;
            font-weight: 600;
            color: var(--color-w);
            @media screen and (max-width: 480px) {
                display: flex;
                width: 100px;
                visibility: hidden;
                position: relative;
                &::after {
                    visibility: visible;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 18px;
                    content: "WTF";
                }
            }
        }
        .user-nav {
            max-width: 200px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 480px) {
                justify-content: space-around;
            }
        }
        a {
            text-decoration: none;
            color: var(--color-main);
            transition: color .15s ease;
            @media screen and (max-width: 480px) {
                font-size: 14px;
            }
            &:hover {
                color: var(--color-w);
            }
        }
    }
}