{% extends 'core/base.html' %}
{% set title = 'Авторизация' %}

{% block content %}

<section>
    <aside class="info">
        <article>
            <h2>Вы кто такие?</h2>
            <h3>Я вас не звал</h3>
        </article>
        <img alt="" src="https://sun2-11.userapi.com/YX6KEju58xjc1SevwSnqSfgc-5Ud8sFWGHTg0A/jrxATb9DhvA.png" srcset="https://sun2-11.userapi.com/YX6KEju58xjc1SevwSnqSfgc-5Ud8sFWGHTg0A/jrxATb9DhvA.png, https://sun2-3.userapi.com/NsCYdBcus6R_01p0fRWKy5arEIWw3bTal72LCw/n3HWOMHG4s8.png 2x" width="350" height="200">
    </aside>
    <form method="post">
        <h1>{{ title }}</h1>
        <label for="username">Username</label>
        <input name="username" id="username" placeholder="Введите логин" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Введите пароль" required>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="submit" value="Log In">
        <p>Еще не зарегестрированы - </p>
        <a href="{{ url_for('auth.register') }}">Регистрация</a>
    </form>
</section>

{% endblock %}