{% extends 'core/base.html' %}
{% set title = "Регистрация" %}

{% block content %}


<section>
    <form method="post" enctype="multipart/form-data">
        <h1>{{ title }}</h1>
        <label for="username">Username</label>
        <input name="username" id="username" placeholder="Введите логин" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Введите пароль" required>
        <hr>
        <input type="text" name="first-name" id="first-name" placeholder="Ваше имя">
        <input type="text" name="surname" id="surname" placeholder="Вашa фамилия">
        <input type="date" name="age" id="age">
        <input type="file" name="avatar" id="avatar">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="submit" value="Register">
        <p>Уже есть пароль - </p>
        <a href="{{ url_for('login') }}">Авторизация</a>
    </form>
</section>

{% endblock %}