section {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section .info {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 400px;
  margin-right: 16px;
  padding: 50px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--color-light);
  border-radius: 12px;
}
section .info article {
  width: 50%;
  color: var(--color-text-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section .info img {
  position: absolute;
  right: 0;
  bottom: 0;
}
section form {
  width: 320px;
  padding: 32px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: var(--color-light);
  border-radius: 12px;
}
section form h1 {
  text-align: center;
  margin-bottom: 15px;
  color: var(--color-text-light);
}
section form label, section form p {
  color: var(--color-text-second);
}
section form a {
  padding: 10px 20px;
  text-decoration: none;
  background: var(--color-green);
  border-radius: 8px;
  color: #fff;
}
section form a:hover, section form a:focus {
  opacity: 0.88;
  text-decoration: none;
}
section form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--color-dark);
  border-radius: 8px;
}
section form input:focus {
  border: 1px solid var(--color-main);
}
section form input[type=submit] {
  cursor: pointer;
  background: #fff;
  border: none;
  color: var(--color-main-dark);
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
section form input[type=submit]:hover, section form input[type=submit]:focus {
  opacity: 0.88;
}
section form hr {
  margin-bottom: 10px;
  background: var(--color-grey);
}