section {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .info {
        position: relative;
        flex: 1;
        width: 400px;
        margin-right: 16px;
        padding: 50px 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: var(--color-light);
        border-radius: 12px;
        @media screen and (max-width: 480px) {
            display: none;
        }
        article {
            width: 50%;
            color: var(--color-text-light);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        img {
            position: absolute;
            right: 0; bottom: 0;
        }
    }
    form {
        width: 320px;
        padding: 32px 24px;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: var(--color-light);
        border-radius: 12px;
        h1 {
            text-align: center;
            margin-bottom: 15px;
            color: var(--color-text-light);
        }
        label, p {
            color: var(--color-text-second);
        }
        a {
            padding: 10px 20px;
            text-decoration: none;
            background: var(--color-green);
            border-radius: 8px;
            color: #fff;
            &:hover,
            &:focus {
                opacity: .88;
                text-decoration: none;
            }
        }
        input {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid var(--color-dark);
            border-radius: 8px;
            &:focus {
                border: 1px solid var(--color-main);
            }
        }
        input[type=submit] {
            cursor: pointer;
            background: #fff;
            border: none;
            color: var(--color-main-dark);
            transition: background .3s ease-in-out;
            &:hover, 
            &:focus {
                opacity: .88;
            }
        }
        hr {
            margin-bottom: 10px;
            background: var(--color-grey);
        }
    }
}