<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        {% include 'styles.css' %}
    </style>
    <link type="image/png" sizes="16x16" rel="icon" href="{{ url_for('static', filename='favicon/icons8-pastel-glyph-16.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='favicon/icons8-pastel-glyph-192.png') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ url_for('static', filename='favicon/icons8-pastel-glyph-180.png') }}">
    <link color="#26E07F" rel="mask-icon" href="{{ url_for('static', filename='favicon/icons8-pastel-glyph-128.svg') }}">
    <meta name="msapplication-square70x70logo" content="{{ url_for('static', filename='favicon/icons8-pastel-glyph-70.png') }}">
    <meta name="msapplication-TileColor" content="#C0FFEE">
    <meta name="application-name" content="Beautiful application name">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>