:root {
  --color-light: #E6ECE4;
  --color-light-second: #8CCDD2;
  --color-main: #359989;
  --color-main-dark: #275D4E;
  --color-dark: #1F2937;
  --font-main: "Times New Roman", Times, serif;
  --font-headers: Arial, Helvetica, sans-serif;
  --container-size: 600px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-family: var(--font-main);
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark) var(--color-light-second);
}

body {
  background: var(--color-light-second);
}

*::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}
*::-webkit-scrollbar-track {
  background-color: var(--color-light-second);
}
*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--color-dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-main-dark);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-track {
  background-color: var(--color-light-second);
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--color-dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-main-dark);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
*::-webkit-scrollbar {
  width: 5px;
}

h1, h2, h3 {
  font-family: var(--font-headers);
}

p, span {
  font-family: var(--font-main);
}

header {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-light);
  border-bottom: 1px solid var(--color-dark);
}
header nav {
  width: 100%;
  max-width: var(--container-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav a.logo {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-dark);
}
header nav a {
  text-decoration: none;
  color: var(--color-dark);
}