{% extends "core/base.html" %}
{% set title = 'Пользователи' %}
{% block content %}

<div class="users-page">
    {% include 'shared/sidebar/index.html' %}
    <div class="users-page__content">
        {% for user in users 
            if user.username != session.get('login') %}
            <div class="users-page__card">
                <img src="{{ url_for('static', filename=user.avatar) }}" alt="" srcset="">
                <div class="card-body">
                    <h2>{{ user.first_name }} {{ user.surname }}</h2>
                    <a href="{{ url_for('profile.index', login=user.username) }}">Перейти в профиль</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}