.users-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: var(--container-size);
  margin: 0 auto;
}
.users-page__content {
  width: 100%;
  padding-top: 10px;
}
.users-page__card {
  width: 100%;
  padding: 25px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 12px;
  background-color: var(--color-main-dark);
  color: var(--color-text-light);
}
.users-page__card img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 20px;
}
.users-page__card h2 {
  margin-bottom: 10px;
}
.users-page__card a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background: var(--color-grey);
  color: var(--color-text-light);
  padding: 5px 16px;
  border-radius: 8px;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}