aside {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 172px;
  margin-right: 10px;
}
aside a {
  height: 30px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-text-light);
  border-radius: 8px;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
}
aside a:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.08);
}
aside a i {
  padding: 0 10px;
  color: var(--color-light-second);
}